/* BOOSTRAP MEDIA BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

body{
    background-color: #000000;
}

/* unvisited link */
a:link {
    color:#868686;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

#splash{
    background-color:#757575;
    color: #FFFFFF;
}
.bgimg1{
    /*position:absolute;*/
    position:relative;
    z-index:-1;
    width:100%;
    
}
.scritta-sopra{
    position:absolute;
    z-index:99;
    top:20%;
}

.mUpNav{
    margin-top: 56px;
}

#attuale{
    background-color:#646464 !important;
    color: #FFFFFF !important;
}

.immagineCarousel{
    height: 750px;
}

@media (max-width: 576px) { 
    .immagineCarousel{
        height: 250px;
    }
 }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .immagineCarousel{
        height: 400px;
    }
 }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .immagineCarousel{
        height: 500px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .immagineCarousel{
        height: 750px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .immagineCarousel{
        height: 750px;
    }
}



#categorie{
    background-color:#535353;
    color:#FFFFFF !important;
    text-align: center;
}

.cardCat{
    width:18rem !important;
    height:15rem !important;
    margin: 0 auto;
    
}
   

/*      COME CAZZO SI FA STA ROBA?
.cardhide{
    display:none !important;
}
.cardhide:hover {
    display:inline;
  }*/

.cardHov:hover{    
    transform:scale(1.2);
}


#all{
    background-color:#404040;
}
.mleft{
    margin-left:7% !important;
}
.filmImg{
    height:450px;
    width: 300px;
}

.filmCard{
    height:100%;
    width: 301.5px !important;
    margin:0 auto;
}
.filmCard:hover{
    transform:scale(1.1);
}

/*
.ulHide{
    visibility: collapse;
}
.ulHide:hover {
    visibility:visible;
}*/


.white{color:#FFFFFF !important;}
.bgwhite{background-color: #FFFFFF;}
.grey{color:#979797;}
.bggray{background-color: rgba(134, 134, 134,0.6);}
.bgtrasp{
    background-color: transparent;
    --bs-bg-opacity:9;
}