
/* INDICE
-css globali
-css multiuso
-navbar
-home.html
-dynamic.html
-moreInfo.html
-titleNotFound.html
-media query
 */

/*-------------------------------------css globali-----------------------------------------*/

/*
CHE FARE CHE RIPARARE



scritte

non funzionano i 404 dalla pagina pubblicata ma funziona in locale



in ordine di importanza:
    1 moreInfo
    2 logo
    5 categorie
    
    7 scritte
    8 pagina per contenuto inesistente
    9 decode titolo

*/


/* BOOSTRAP MEDIA BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

  a:link {
    color:#FFFFFF;
  }
  
  /* visited link */
  a:visited {
    color: #FFFFFF;
  }
  
  /* mouse over link */
  a:hover {
    color: #ff9012;
  }
  
  /* selected link */
  a:active {
    color: #9900cc;
  }

  body{
    background-color: #000000;
  }

  /*------------------------------css multiuso-----------------------------------------------*/

.white{color:#FFFFFF !important;}
.bgwhite{background-color: #FFFFFF;}
.grey{color:#979797;}
.bggray{background-color: rgba(134, 134, 134,0.6);}
.black{color:#000000}
.bgblack{background-color: black;}
.verde {color: #39e600}
.bgVerde {background-color: #39e600;}
.viola { color: #9900cc }
.bgViola{background-color: #9900cc ;}
.bgtrasp{
    background-color: transparent;
    --bs-bg-opacity:9;
}

.strisciaColorata{
    background-color:#ff9012;
    padding: 0.5%;
}

/*----------------------------------Bootstrap override-----------------------------------------*/
.button-primary{

}

.btn-secondary:hover{
    background-color:#ff9012;
}



.btn-success{
    background-color: #707070;
    
    color: #FFFFFF;
    border-color: #707070;
    --bs-btn-bg: #707070;
    --bs-btn-border-color: #707070 ;
    --bs-btn-focus-shadow-rgb: none;
}

.btn-success:hover{
    background-color: #707070;
    border-color: #404040;
}
.btn-success:active{
    background-color: #707070;
    color: #FFFFFF;
}
.btn-success:focus{
    background-color: #707070;
    color: #FFFFFF;
    border: 1px solid #707070;
}


/* voci standard */
.btn.btn-outline-warning{
    /* background-color: rgba(0,0,0,0); */
    color: #ff9012;
    border-color:#ff9012;
    box-shadow: none;    
}

.btn.btn-outline-warning:hover{
    background-color: #ff9012;
    color: #FFF;
    border-color:#ff9012;
}

/*TODO: sistema sta merda*/

/* test checked */


.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    background-color: #404040;
    border-color:#ff9012;;
    color: #fff;
    /* --bs-btn-focus-shadow-rgb: 255, 144, 18 !important; */
}

/*-------------------------------------------Navbar---------------------------------------------*/



.lunghezzaRicerca{ 
    width: 350px;
}
#buttonSearch:hover{
    background-color:#ff9012;

}

.hamburger:hover{
    background-color:#ff9012;
}

.scritteMenu{
    color:#000000 !important;
}
.scritteMenu:hover{
    color:#ff9012 !important;
}

 .loghinoApp{
    height: 50px;
    width: 50px;
    margin: auto 0;
}/* TODO: DA RENDERE CENTRALE RISPETTO ALL INTERA NAVBAR*/

/*----------------------------------------FOOTER---------------------------------------------*/
.piede{
    background-color: #000000;
    
 }

/*logo scarto*/
.logo{
    width:75px;
    height:100px;
}

/*******************************************contats.html********************************************/
.contactDivs{
    width: 100%;
    text-align: center;
    
}

.rettangolone{
    width: 90%;
    background-color:#808080;
    color: #000;
    border: 1px solid #ff9012;
    margin: 1% auto 1%;
    
    /* height: 200px; */
}

.rettangolino{
    width:90%;
    margin: 1% auto;
}

.infoBtns{
    width: 90%;
    margin-top: 1%;
    background-color:#000;
    color: #fff;
}

.infoBtns:hover{
    background-color: #ff9012;
    color: #fff;
    border-color: #000;
}

.infoBtns:active{
    background-color: #ff9012;
    color: #fff;
    border-color: #000;
}

.infoBtns:focus{
    background-color: #ff9012;
    color: #fff;
    border-color: #000;
}

.contactsLink{
    color:#000 !important; 
}
.contactsLink:hover{
    color: #ff9012 !important;
}

/*--- Acchiappa La Roccia ---*/
.rettangoloneALR{
    width: 99.9%;
    background-color:#808080; 
    color: #000;
    border: 1px solid #ff9012;
    margin: 1% auto 1%;
}

.sfondoALR{ /*TODO:con mediaquery cambio immagine e bom*/
    /* width:100%; */
    /* height:100%; */
    background-image: url(./IV_stuff/img/wwe.png);
    /* transform: rotate(90deg); */
    
    /* bacground-color: rgba(100%, 100%, 100%, 50%); */
    background-repeat: no-repeat;
    background-position: center;
    
}

.boxRoccia{
    height: 180px;
    /* border: 1px solid black; */
}
/* #rocciaPosA{
    background-color:yellow;
}
#rocciaPosB{
    background-color:red;
}
#rocciaPosC{
    background-color:green;
} */
.imgRoccia{
    width: 150px;
    height: 150px;
    /* transform: rotate(-90deg); */
}

/* .dimModal{
    width: 90%;
} */
.hModale{
    
    background-color: #707070;
}

.ics{
    
    float: right !important;
}
.modalMediaDiv{
    width: 100%;
    height: 600px ;
}
.scrittaWinner{
    font-size: 50px;
    text-align: center;
    margin: auto auto;
}

.imgWin1{}
.imgWin2{}
.gifWin1{}
.gifWin2{}
.imglose1{}
.imglose2{}
.giflose1{}
.giflose2{}

.imgEgifDim{
     width: 100% ; 
    
    margin: auto auto;
}

/*fine acchiappa la roccia*/

.chuckImg{
    width: 200px;
    height: 200px;
}
.chuckPar{
    text-align: center;
    font-size: 25px;
}

/*-------------------------------------------home.html---------------------------------------------*/
/*come migliorare home.html

rifai completamente splashpage
    
    descrizione
    sfondo
    font
inserisci il video nel carousel come primo media e mantienilo fisso

categorie
    metti link alle categorie --> cerca se si puo fare la ricerca per genere

all
    metti il div a espansione per il div all bloccato su ridotto  con il bottone espandi
    fai media query per le card
    posso mettere che da all ci sia un onScroll che faccia comparire il footer

mediaQuery
    splashpage
        fai background-image piuttosto
        le scritte vanno a puttane in modalità tel
    all
        eventualmente


*/
#splash{
    background-image:url("./IV_stuff/img/no-logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat ;
    /*background-color:#757575;*/
    background-color:#000000;
    color: #FFFFFF;
}

.sfondoIV{
    background-image:url("./IV_stuff/img/no-logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat ;
    height:768px;
    margin-top: 0px;
}

.logoPos{
    margin: 18.5% auto 5%; 
     
    width:200px;
    height:200px;
}

.logoPos1{
    margin: 0 auto;
    padding-top: 20%;
    width:200px;
    height:200px;
}

.logoApp{
    width:200px;
    height:200px;
    opacity: 0;  
}

.logoApp:hover{
    opacity: 1; 
}

.logoApp1{
    
    margin: 15px auto 0 auto; /* top | right | bottom | left */
    width: 200px;
    height: 200px;
}

.scrittaSplash{
    /*margin-top:40%;*/
}
.divPresentazione{
    height: 100%; 
}



.bgimg1{
    /*position:absolute;
    position:relative;
    z-index:-1;*/
    width:100%;
    height:100%;
    
}
/*.scritta-sopra{
    position:absolute;
    z-index:99;
}*/



#attuale{
   /* background-color:#646464 !important;*/
   background-color:#000000;
    color: #FFFFFF !important;
}

.immagineCarousel{
    height: 750px;
    
}

#categorie{
    /*background-color:#535353;*/
    background-color:#333333;
    color:#FFFFFF !important;
    text-align: center;

}


/*
adesso mi suco la pagina dedicata al link di categorie
ricerca per genere
ma è una cagata basta che cambio il nome nell url in base alla card
ma mi sa che non si puo fare perchè il parametro t o s è obbligatorio
si puo fare cosi
    film del mese
    scegli la categoria
    e ti consigliamo una triologia adatta al tuo genere preferito, ... scelto da ...
    e qui posso sparare un modale 
    con il link sull immagine del primo film della triologia
    oppure
        quando passo sopra col mouse mi mostra l immagine del film(tanto posso pigliarla da google)
    e rimando al click a una pagina scorrevole con a sinistra l immagine a destra le 4 info piu importanti
    in ordine di anno dal primo all ultimo(tanto lo posso fare in statico)
    riga dopo riga a copia e incolla taaak però posso pigliare le info tramite API
    

*/

.cardCat{
    width:18rem !important;
    height:15rem !important;
    margin: 0 auto;
    
}
   

/*      COME CAZZO SI FA STA ROBA?
.cardhide{
    display:none !important;
}
.cardhide:hover {
    display:inline;
  }*/

.cardHov:hover{    
    transform:scale(1.2);
    border-color: #ff9012;
    border-width: 2px;
}

#movieAdvice{
    background-color:#373737;
}

.refreshbutton{
    width: 30px;
    height: 30px;
}

.adviceBG{
    background-color:#373737;
    /* border: 1px solid rgb(60,60,60);     */
    border-left: none;
    border-right: none;
}

#all{
    background-color:#404040;
}

/* .freccetta{
    background-color: #404040;
} */

/* .freccetta:hover{
    background-color: #404040;
} */

.sfondoRadio{
    background-color: #404040;
}
.radioDiv{
    width:90%
}
.radioChoices{
    width: 20% !important;
}

.mleft{
    margin-left:7% !important;
}
.filmImg{
    height:450px;
    width: 300px;
}

.filmCard{
    height:100%;
    width: 301.5px !important;
    margin:0 auto;
    background-color: #212529;
}
.filmCard:hover{
    transform:scale(1.1);
    border-color: #ff9012;
    border-width: 1px;

}

.bgcard{
    background-color: #212529;
}

.lineeColorate:hover{
    border: 1px solid #ff9012;
    
}


.iconaEsplodi{
    width:15px;
    height:15px;
    color:white;
}
/*
.ulHide{
    visibility: collapse;
}
.ulHide:hover {
    visibility:visible;
}*/








/*-----------------------------------------dynamic.html---------------------------------------*/

/*
come la voglio fare?
ovviamente spara le copertine dei film
    con titolo e anno
    title:"more info"
oppure
    fai una ricerca dettagliata con parametro t
        e se compatibile compare una sola card in mezzo come riga principale
            e in linea secondaria tutti gli altri
        altrimenti
            normale
eventualmente stringa di netflix
*/




#search{
    background-color:#333333;
   /* background-color:#df7b0f;*/
}

.titoloDynamic{
    text-transform: uppercase;
}

.colCard{
    border: 1px solid black;
}

.colCard:hover{
    border: 1px solid #ff9012;
}




/*
th, td{
    padding:20%;
    border-color:#FFFFFF;
    border: 4% solid black;
}
td {
    margin-left: 20px !important;
    padding:20%;
}*/

/*-----------------------------------------moreInfo.html----------------------------------------------------------*/
/*
come voglio fare la pagina:

    div con 5 link streaming --> theuselessweb
    div con link download --> theuselessweb


div suggerimenti
    movies

    series

    episodes

    games


    IDEAA
    quando passo sopra con il mouse su l immagine, l immagine va in hover con il bordo arancio,
    e insieme voglio che si cambi il colore del titolo, dei bottoni, e altre 2 info
*/

/*.cardConSeD-tr{
    width: 150.75px;
}

.cardConSeD-td{
    width: 150.75px;
}*/
/*
#details{
    background-color:#404040;
}*/



.colonneDati{

    padding: 3%;
}



.marLeft{
    margin-left:15%;
}

.posterInfoCard {
    border: 1px solid black;
    
}

.posterInfoCard:hover{
    border: 0.5px solid #ff9012 ;
    
}

.senzaDecorazione{
    text-decoration: none;
}

.btnStreaming{
    border: 0.5px solid #ff9012 ;
    float:right !important;
    background-color:#FFFFFF;
    /*--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem; width: 150px; height: 150px;*/
}
.btnStreaming:hover {
    background-color: #ff9012 !important;
    border: 0.5px solid #ff9012 ;
}
.btnMagnet{
    border: 0.5px solid #ff9012 ;
    background-color:#FFFFFF;
}
.btnMagnet:hover {
    background-color: #ff9012 !important;
    border: 0.5px solid #ff9012 ;
  }

  /*colonna 2 _ info piu importanti*/
.scrittaMoreInfo{
    
}
/*colonne 3-4 _ nomi campi --> non funziona*/
.scrittaMoreInfo2{
    
}

/*.diventaArancio{}*/
.diventaArancio:hover{
    color: #ff9012;
}

.tabellaVoti{
    border: 0.5px solid #ff9012 ;
    
    width: 90%;
    margin: 5% auto;
    
}

.cellsWidth{
    width: 33.3%;
}



/*-----------------------------------------titleNotFound.html----------------------------------------------------------*/
#redirect{
    padding-top: 18.5%;
}


.hiddenText{
    opacity: 0;
    transform: scale(0);
}
.hiddenText:hover{
    opacity: 1; 
    transform:scale(1);   
}

.rivelaCose:hover{
    color:#FFFFFF !important;
}


/*-------------------------------MEDIA QUERY-----------------------------------------------*/

/* BOOSTRAP MEDIA BREAKPOINTS */
/* 487px dove si impallano i bottoni */
@media (max-width: 487px) {
    

    .loghinoApp{
        display: none;
    }

   .lunghezzaRicerca{
       width: 75%;
   }

   .sfondoIV{
       height: 250px;
       /*height:768px;*/
   }
   .logoPos1{
       padding-top: 21%;
       width:75px;
       height:75px;
   }
   
   .logoApp{
       width:75px;
       height:75px;
       opacity: 1;  
   }

   .immagineCarousel{
       height: 250px;
   }
   /*CAZZO GUARDA FilmCard     --> in modalità telefono FUNZIONA !!!!
   .filmCard{
       width: 50%;
   }*/

   /*SISTEMA IMMAGINE  (anche di dynamic   --> NON E' VERO LI FUNZIONA !!!!!)
    E BOTTONE*/

   .verticalDisposition{
        margin-top:5%;
   }

    /*home.html*/
    .txtDimensionSort{
        font-size: 50%;
        margin-top:-10px;
        top:10px;   
    }
    
    /*dynamic.html*/

    /* moreInfo.html*/

    /*bordo arancione esterno*/
    .blckCentrale{
        border: 1px solid #ff9012;
        width: 95%;
        height: 70%;
        margin: 10px auto;
    }

    .moreInfoImg{
        width: 50%;
    }
    /*scritte a sinistra*/
    .datiFilmCol{
        text-align:left;
    }

    /*titleNotFound.html */
    h1{ 
        font-size: small;
    }
    .margineAvviso{
        margin-top:5%;
    }
    .margineAvviso2{
        margin-top:3%;
    }

    /*contacts.html*/
    .sfondoALR{  
        background-image: url(./IV_stuff/img/wwe1.png);
        background-repeat: no-repeat;
        background-position: center; 
    }

}

/*da minimo 487px in poi*/
@media (min-width: 487px ) {

    .loghinoApp{
        display: none;
    }
   
   .sfondoIV{
       height: 370px;
       /*height:768px;*/
   }
   
   .logoPos1{
       padding-top: 17.5%;
       width:130px;
       height:130px;
   }
   
   .logoApp{
       width:130px;
       height:130px;
       opacity: 0;  
   }

   .verticalDisposition{
    margin-top:5%;
    }
    /*home.html*/
   .immagineCarousel{
       height: 400px;
   }
    /*dynamic.html*/

    /* moreInfo.html*/

   /*scritte a sinistra*/
   .datiFilmCol{
    text-align: left;
    }
    /*bordo arancione esterno*/
    .blckCentrale{
        border: 1px solid #ff9012;
        width: 80%;
        height: 70%;
        margin: 10px auto;
    }
    /* titleNotFound.html */
    h1{ 
        font-size:medium;
    }

    .margineAvviso{
        margin-top:4%;
    }
    .margineAvviso2{
        margin-top:3%;
    }

    /*contacts.html*/
    .sfondoALR{  
        background-image: url(./IV_stuff/img/wwe1.png);
        background-repeat: no-repeat;
        background-position: center; 
    }
}

@media (min-width: 576px ) {
    /* per sistemare il footer */
    .verticalDisposition{
        margin-top:0%;
    }

    /*contacts.html*/
    .sfondoALR{  
        background-image: url(./IV_stuff/img/wwe.png);
        background-repeat: no-repeat;
        background-position: center; 
    }
}

/* 768 px dove si dimezza il num di colonne 1000px */
@media (min-width: 768px ) {

    /*.strisciaColorata {
        
    }*/

    .loghinoApp{
        display:block;
    }
   
   .sfondoIV{
       height: 480px;
       /*height:768px;*/
   }

   .logoPos1{
       padding-top: 18.5%;
       width:150px;
       height:150px;
   }
   
   .logoApp{
       width:150px;
       height:150px;
       opacity: 0;  
   }
   
/*home.html*/
   .immagineCarousel {
       height: 500px;
   }
/*dynamic.html*/

/* moreInfo.html*/

    /*scritte a sinistra*/
    .datiFilmCol {
        text-align: left;
        }
        /*bordo arancione esterno*/
        .blckCentrale {
            border: 1px solid #ff9012;
            width: 75%;
            height: 70%;
            margin: 10px auto;
    }
/* titleNotFound.html */
    h1{ 
        font-size: x-large;
    }

    .margineAvviso {
        margin-top:3%;
    }

    .margineAvviso2 {
        margin-top:2%;
    }

    /*contacts.html*/
    .imgEgifDim{
        width: 60% ; 
        margin: auto auto;
    }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  

   .sfondoIV{
       height:640px;
   }
   
   .logoPos1{
       padding-top: 20%;
       width:180px;
       height:180px;
   }
   
   .logoApp{
       width:180px;
       height:180px;
       opacity: 0;  
   }

   /*home.html*/
    .immagineCarousel{
        height: 750px;
    }
   /*dynamic.html*/

   /* moreInfo.html*/
    
   /* TODO: il logo si sputtana, o metto lo sfondo, o coloro di bianco il logo e lo rendo visisbile*/

   /* TODO: sistema l immagine che si crea uno spessore nero inutile (col bordo arancio 
            lo fa con le immagini pigliate da dynamic
            lo spessore è relativo alla dimensione del monitor
            piu si schiacciano le scritte a destra piu si allungano
            lo spessore segue i 2 bottoni, che sono sotto le scritte*/
   
    /*scritta a destra*/
   .datiFilmCol{
    text-align: right;
    }
    /*bordo arancione esterno*/
    .blckCentrale{
        border: 1px solid #ff9012;
        width: 70%;
        height: 70%;
        margin: 10px auto;
    }

/* titleNotFound.html */
    h1{ 
        font-size: xx-large;
    }
    .margineAvviso{
        margin-top:3.5%;
    }
    .margineAvviso2{
        margin-top:2%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

   .sfondoIV{
       height:768px;
   }
   
   .logoPos1{
       padding-top: 19%;
       width:200px;
       height:200px;
   }
   
   .logoApp{
       width:200px;
       height:200px;
       opacity: 0;  
   }

/*home.html*/
   .immagineCarousel{
    height: 750px;
    }
/*dynamic.html*/

/* moreInfo.html*/

    /*scritta a destra*/
   .datiFilmCol{
    text-align: right;
    }
    /*bordo arancione esterno*/
    .blckCentrale{
        border: 1px solid #ff9012;
        width: 70%;
        height: 70%;
        margin: 10px auto;
    }
/* titleNotFound.html */
    h1{ 
        font-size: xx-large;
    }

    .margineAvviso{
        margin-top:3.5%;
    }
    .margineAvviso2{
        margin-top:2%;
    }
}